
body{
	font-family: 'Montserrat', sans-serif;
    min-height: 100%;
}

.navbar{
    height: 56px;

	font-size: 1rem;
	font-weight: bold;
}

.navbar .navbar-brand{
	margin-left: 5% !important;

}




.navbar-nav >li{
	margin-left: 0px;
}

.navbar a{
	color: white !important;
}

.dropdown-menu a{
	color: black !important;
	font-weight: bold !important;
}

.wrapper{
	display:flex;
	justify-content: center;
	margin-bottom: 1.5rem;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

.footer-copyright a{
	color:black;
}

.page-footer{
	background-image:url("https://www.pngitem.com/pimgs/m/160-1605161_cities-background-for-footer-skyline-hd-png-download.png");
	background-size: auto;
	background-position: center;
}

#footerElements a{
	font-size: 1.4rem;
	font-weight: bold;
	color: black;
	padding-left: 1.25rem;
	text-decoration: none;
}



#aboutUs:hover{
	color: red;
}

#PP:hover{
	color: red;
}

#TaC:hover{
	color: red;
}



.location{
	position: relative;
	text-align: center;
}

.map{
	margin-left: 15%;
	margin-right: 15%;
	position: relative;
	left: inherit;
  padding-bottom: 40%; // This is the aspect ratio
  height: 0;
  overflow: hidden;

}

.map iframe{
	position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 90% !important;
}


.sectionLine{
	border-style: solid none none;
	border-color: #9bc2c2;
	border-width: 1px;
	width: 70%;

}

.sectionUnderLine{
	border-style: solid none none;
	border-color: #F60A0A;
	border-width: 5px;
	width: 5%;

}

.box{
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.box:hover{
  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0,0,0,.5)
}

.box .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}

.box .imgBx:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg,#7a6969,#000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.box:hover .imgBx:before{
  opacity: 1;
}

.box .content h2{
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 18px !important;
  transform: translateY(300px);
}

.box:hover .content h2{
  transform: translateY(0);
  transition-delay: 0.3s;
}

.box .content p{
  color: #fff;
  transition: 0.5s;
  transform: translateY(300px);
  font-size: 12px;
}

.box:hover .content p{
  transform: translateY(0);
  transition-delay: 0.3s;
}

.photoContainer{
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
    margin-left: auto;
		text-align: center;
}

.mainImage {
  position: relative;
  text-align: center;
  color: white;
}

.responsive {
  width: 100%;
  height: auto;
  max-height: 900px;
}

.centered {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 7rem;
  text-shadow: 2px 2px #000000;
  color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered:before{
  content: attr(data-text);
  text-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: bottom;
  transform: rotateX(180deg);
  line-height: 1em;
  background: linear-gradient(0deg, #fff 0, transparent 80%);
  -webkit-background-clip: text;
  color:transparent;
  opacity: 0.5;
}

.visitCluj{
  position: relative;
  text-align: center;
  padding-bottom: 30px;

}

#VisitCluj{
	padding-top: 36px;
}

h2{
    font-size: 2.5rem !important;
    font-weight: 900 !important;
    color:#F60A0A;
    padding-bottom: 10px;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  min-height: 500px;
}

.introEvents{
	font-size: 2rem !important;
	color:#fff;
}


/*
.col-6{
	padding-left: 0px;
  padding-right: 0px;
}*/


.navbar{
	font-size: 1rem;
	font-weight: bold;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.navbar a{
	color: white !important;
}

.dropdown-menu a{
	color: black !important;
	font-weight: bold !important;
}

.wrapper{
	display:flex;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

.footer-copyright a{
	color:black;
}

#footerElements a{
	font-size: 1.4rem;
	font-weight: bold;
	color: black;
	padding-left: 1.25rem;
	text-decoration: none;
}



#aboutUs:hover{
	color: red;
}

#PP:hover{
	color: red;
}

#TaC:hover{
	color: red;
}



.location{
	position: relative;
	text-align: center;
}

.map{
	margin-left: 15%;
	margin-right: 15%;
	position: relative;
	left: inherit;
  padding-bottom: 40%; // This is the aspect ratio
  height: 0;
  overflow: hidden;

}

.map iframe{
	position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 90% !important;
}


.sectionLine{
	border-style: solid none none;
	border-color: #9bc2c2;
	border-width: 1px;
	width: 70%;
	margin: 10px auto 50px auto !important;
}

.sectionUnderLine{
	border-style: solid none none;
	border-color: #F60A0A;
	border-width: 5px;
	width: 5%;
	margin: 10px auto 50px auto;
}

.box{
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.box:hover{
  z-index: 1;
  transform: scale(1.111);
  box-shadow: 0 25px 40px rgba(0,0,0,.5)
}

.box .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}

.box .imgBx:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg,#7a6969,#000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.box:hover .imgBx:before{
  opacity: 1;
}

.box .content h2{
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;

  font-size: 18px !important;
  text-align: center;
	margin: 1em 1em 1em 1em;

	transform:translateY(300px);

}

.box:hover .content h2{
  transform: translateY(0);
  transition-delay: 0.5s;
}

.box .content p{
  color: #fff;
  transition: 0.5s;
  transform: translateY(300px);
  font-size: 12px;
}

.box:hover .content p{
  transform: translateY(0);
  transition-delay: 0.3s;
}

.photoContainer{
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
    margin-left: auto;
		text-align: center;
}

.mainImage {
  position: relative;
  text-align: center;
  color: white;
}

.responsive {
  width: 100%;
  height: auto;
  max-height: 900px;
}

.centered {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 6vw;
  text-shadow: 2px 2px #000000;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered:before{
  content: attr(data-text);
  text-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: bottom;
  transform: rotateX(180deg);
  line-height: 1em;
  background: linear-gradient(0deg, #fff 0, transparent 80%);
  -webkit-background-clip: text;
  color:transparent;
  opacity: 0.5;

}


h2{
    font-size: 2.5rem !important;
    font-weight: 900 !important;
    color:#F60A0A;
    padding-bottom: 10px;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  min-height: 500px;
}

.container{
    min-height: calc(73vh - 40px);
}
#container2{
    min-height: calc(82vh - 40px);
}
.caption{
    min-height: calc(32vh - 40px);
}