<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CityInfo-November</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="simple-line-icons.min.css">
    <link rel="stylesheet" href="Animated-Typing-With-Blinking.css">
    <link rel="stylesheet" href="Article-List.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="Latest-Events.css">
    <link rel="stylesheet" href="Product-Details.css">
    <link rel="stylesheet" href="smoothproducts.css">
    <link rel="stylesheet" href="MainPageEvents.css">
    <link rel="stylesheet" href="breadcrumbEvents.css">
    <link rel="icon" href="favicon.ico">

</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
        <a class="navbar-brand" href="/">Cluj Napoca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Navigate
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/restaurants">Restaurants</a>
                        <a class="dropdown-item" href="/events">Events</a>
                        <a class="dropdown-item" href="/shopping">Shopping</a>
                        <a class="dropdown-item" href="/mobility">Mobility</a>
                        <a class="dropdown-item" href="/booking">Booking</a>
                        <a class="dropdown-item" href="/visiting">Visiting</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Essentials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact</a>
                </li>
                    <!-- {{#if user}} -->
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Sign out</a>
                </li>
                    <!--   {{else}} -->
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Sign in</a>
                </li>
                    <!--   {{/if}} -->
            </ul>
        </div>

    </nav>
</div>
<br />
<br />
<div id="wrapperBreadcrumb">
    <div class="logo-and-nav-wrap">
        <div class="site-nav-wrap">
            <div class="breadcrumb-wrap">
                <span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb"><a id="homeSubNavbar" href="/events">Events</a></span>
            </div>
            <div class="breadcrumb-wrap">
                <span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb"><a  href="/events-main-page">Months</a></span>
            </div>
            <div class="breadcrumb-wrap">
                <span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb"><a href="/events-november">November</a></span>
            </div>
            <div class="breadcrumb-wrap">
                <span class="sep"><i class="fa fa-caret-right"></i></span> <span class="breadcrumb"><a href="#">26</a></span>
            </div>
        </div>
    </div>
</div>
    <div class="text-nowrap d-flex justify-content-center align-items-center animated-text noSelect" style="background: rgba(255,255,255,0);border-style: none;margin-top: 10px;width: 50%;margin-right: auto;margin-left: auto;padding-top: 300px;"><div class="caption v-middle text-center">


    <h1 class="cd-headline clip">
        <span class="blc">No event</span>
        <span class="cd-words-wrapper">
          <b class="is-visible">planned.</b>
          <b>scheduled.</b>

        </span>
        <span class="blinking">|</span>
    </h1>
</div></div>
    <div class="text-nowrap d-flex justify-content-center align-items-center animated-text noSelect" style="background: rgba(255,255,255,0);border-style: none;margin-top: 16px;width: 50%;margin-right: auto;margin-left: auto;"></div>
    <br />
    <br />
    <br />
<footer class="page-footer font-small" style="margin-top:0px;">

    <div class="wrapper">
        <div class="button">
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
            </div>
            <span><a href="https://www.facebook.com/clujcom">Facebook</a></span>
        </div>
        <div class="button">
            <div class="icon">
                <i class="fab fa-twitter"></i>
            </div>
            <span><a href="https://www.twitter.com/">Twitter</a></span>
        </div>
        <div class="button">
            <div class="icon">
                <i class="fab fa-instagram"></i>
            </div>
            <span><a href="https://www.instagram.com/cluj">Instagram</a></span>
        </div>
    </div>
    <div id="footerElements" class="text-center py-3 ele">
        <a id="aboutUs" href="/about-us">About Us</a>
        <a id="TaC" href="/terms-and-policy-of-use">Terms and Conditions</a>
        <a id="PP" href="/privacy-policy">Privacy Policy</a>
    </div>
    <div class="text-center py-3">© 2020 Copyright:
        <a href="https://NapoTech.com/">Napotech</a>
    </div>
</footer>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../../assets/js/smoothproducts.min.js"></script>
    <script src="../../assets/js/theme.js"></script>
    <script src="../../assets/js/Animated-Typing-With-Blinking.js"></script>
</body>

</html>
