<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CityInfo-Terms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="simple-line-icons.min.css">
    <link rel="stylesheet" href="Animated-Typing-With-Blinking.css">
    <link rel="stylesheet" href="Article-List.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="Latest-Events.css">
    <link rel="stylesheet" href="Product-Details.css">
    <link rel="stylesheet" href="smoothproducts.css">
    <link rel="stylesheet" href="MainPageEvents.css" >

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
        <a class="navbar-brand" href="/">Cluj Napoca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Navigate
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/restaurants">Restaurants</a>
                        <a class="dropdown-item" href="/events">Events</a>
                        <a class="dropdown-item" href="/shopping">Shopping</a>
                        <a class="dropdown-item" href="/mobility">Mobility</a>
                        <a class="dropdown-item" href="/booking">Booking</a>
                        <a class="dropdown-item" href="/visiting">Visiting</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Essentials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contact</a>
                </li>
                {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">Sign out</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign in</a>
                    </li>
                {{/if}}
            </ul>
        </div>

    </nav>
</div>
<main class="page faq-page">
    <section class="clean-block clean-faq dark">
        <div class="container">
            <div class="block-heading">
                <h1 class="text-info">Terms and Conditions of Use</h1>
            </div>
            <div class="block-content">
                <div class="faq-item">
                    <h4 class="question">1. Terms</h4>
                    <div class="answer">
                        <p>By accessing this Website, accessible from&nbsp;cityInfo.com, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If
                            you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.<br></p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">2. Use License</h4>
                    <div class="answer">
                        <p >Permission is granted to temporarily download one copy of the materials on&nbsp;NapoTech's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this
                            license you may not:</p>
                        <ul>
                            <li>modify or copy the materials;<br></li>
                            <li>use the materials for any commercial purpose or for any public display;<br></li>
                            <li>attempt to reverse engineer any software contained on&nbsp;NapoTech;<br></li>
                            <li>remove any copyright or other proprietary notations from the materials; or<br></li>
                            <li>transferring the materials to another person or "mirror" the materials on any other server.<br></li>
                        </ul>
                        <p>This will let&nbsp;NapoTech&nbsp;to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether
                            it is printed or electronic format.<br></p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">3. Disclaimer<br></h4>
                    <div class="answer">
                        <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:

                        <li>limit or exclude our or your liability for death or personal injury;<br></li>
                        <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;<br></li>
                        <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or<br></li>
                        <li>exclude any of our or your liabilities that may not be excluded under applicable law.<br></li>
                        <br>
                        <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.

                            As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.
                        </p>
                        </p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">4. Limitations<br></h4>
                    <div class="answer">
                        <p>NapoTech&nbsp;or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on&nbsp;NapoTech's Website, even if&nbsp;NapoTech&nbsp;or an authorize representative
                            of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations
                            may not apply to you.<br></p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">5. Revisions and Errata</h4>
                    <div class="answer">
                        <p>The materials appearing on&nbsp;NapoTech's Website may include technical, typographical, or photographic errors.&nbsp;NapoTech&nbsp;will not promise that any of the materials in this Website are accurate, complete, or current.&nbsp;NapoTech&nbsp;may
                            change the materials contained on its Website at any time without notice.&nbsp;NapoTech&nbsp;does not make any commitment to update the materials.<br></p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">6. Links<br></h4>
                    <div class="answer">
                        <p>NapoTech&nbsp;has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by&nbsp;NapoTech&nbsp;of the site. The
                            use of any linked website is at the user's own risk.<br></p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">7. Site Terms of Use Modifications<br></h4>
                    <div class="answer">
                        <p>NapoTech&nbsp;may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.<br></p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">8. Governing Law<br></h4>
                    <div class="answer">
                        <p>Any claim related to&nbsp;NapoTech's Website shall be governed by the laws of&nbsp;Country&nbsp;without regards to its conflict of law provisions.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<footer class="page-footer font-small" style="margin-top:0px;">

    <div class="wrapper">
        <div class="button">
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
            </div>
            <span><a href="https://www.facebook.com/clujcom">Facebook</a></span>
        </div>
        <div class="button">
            <div class="icon">
                <i class="fab fa-twitter"></i>
            </div>
            <span><a href="https://www.twitter.com/">Twitter</a></span>
        </div>
        <div class="button">
            <div class="icon">
                <i class="fab fa-instagram"></i>
            </div>
            <span><a href="https://www.instagram.com/cluj">Instagram</a></span>
        </div>
    </div>
    <div id="footerElements" class="text-center py-3 ele">
        <a id="aboutUs" href="/about-us">About Us</a>
        <a id="TaC" href="/terms-and-policy-of-use">Terms and Conditions</a>
        <a id="PP" href="/privacy-policy">Privacy Policy</a>
    </div>
    <div class="text-center py-3">© 2020 Copyright:
        <a href="https://NapoTech.com/">Napotech</a>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/smoothproducts.min.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/Animated-Typing-With-Blinking.js"></script>
</body>

</html>
